.ml-2 {
  margin-left: 24px;
}

.left-390 {
  position: relative;
  float: right;
}
.grid {
  display: grid;
}

#myTable_filter {
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.center_col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top {
  position: relative;
  top: -42px;
  left: 10px;
}

.flex {
  display: flex;
}

.error {
  margin: 0;
  color: red;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}